/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* */

@font-face {
  font-family: "ralewayregular";
  src: url("./fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("./fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
  font-family: "ralewayregular";
  color: white;
}

.overflow-wrap {
  overflow-x: hidden;
}

#home {
  background-color: #2a2c2b;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0 0 20px 0;
}

.highlight {
  color: #96ed89;
}

.button {
  position: relative;
  padding: 12px 50px 12px 20px;
  border: 2px solid white;
  margin-bottom: 53px;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #168039;
}

.button:hover i {
  transform: rotate(90deg);
}

.button i {
  position: absolute;
  right: 20px;
  transition: transform 0.3s;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #364140;
  border-bottom: 3px solid #67cc8e;
  text-align: left;
  position: absolute;
}

nav .link-wrap {
  max-width: 1200px;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
}

nav .link-wrap div {
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

nav .bar-icon {
  position: absolute;
  margin: 0 auto;
  right: 5vw;
}

#about {
  padding: 100px 0 130px 0;
}

section .container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.container .header {
  font-size: 32px;
  font-weight: bold;
}

.header {
  color: #2a2c2b;
}

.header-bar {
  background-color: #2a2c2b;
  width: 70px;
  height: 4px;
  margin: 25px 0 70px 0;
}

.diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #67cc8e;
  position: relative;
  top: -50px;
}
.diamond:after {
  content: "";
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: #67cc8e;
}

@media screen and (min-width: 600px) {
  .text {
    font-size: 32pt;
    line-height: 36pt;
  }

  .button {
    font-size: 21px;
  }

  nav .link-wrap {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }

  nav .link-wrap div {
    display: inline;
    font-size: initial;
    margin: 0 20px;
    color: white;
  }

  nav .bar-icon {
    display: none;
  }

  .container .header {
    font-size: 50px;
    font-weight: bold;
  }
}

@media screen and (min-width: 960px) {
  .sub-row {
    flex-direction: row;
  }
}
